{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="py-2">
            <div class="card">
                <div class="card-header">Analyze Test</div>
                <div class="card-body">
                    <form action="/test_analyze" method="post">
                        <div class="row">
                            <div class="col-5">
                                <img style="padding:5px; max-width: 30vw" src="data:image/jpg;base64,{{img_data}}" />
                            </div>
                            <div class="col-7">
                                <div class="card-body">
                                    <div style="font-family: monospace; display: flex; flex-direction: column-reverse; 
                                        max-height: calc(96vh - 150px); overflow: auto;font-size: 70%; white-space: pre-wrap;"
                                        id="logentry">
                                        {{log}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}