<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96x96.png') }}" sizes=" 96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}" />
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ScrabScrap</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap-icons-1.13.1/bootstrap-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <script src="{{ url_for('static', filename='js/scrabscrap.theme.switcher.js') }}"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ScrabScrap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGame" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi-grid-3x3-gap" aria-hidden="true"></i> Game
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/moves"><i class="bi-pencil" aria-hidden="true"></i> Edit Moves</a>
              </li>
              <li><a class="dropdown-item" href="/moves_old"><i class="bi-pencil" aria-hidden="true"></i> Edit Moves -
                  Old</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/button"><i class="bi-hand-index-thumb" aria-hidden="true"></i> Button
                  Control</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/end_game"><i class="bi-sign-stop" aria-hidden="true"></i> End Game</a>
              </li>
              <li><a class="dropdown-item" href="/new_game"><i class="bi-play-btn" aria-hidden="true"></i> Start new
                  Game</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCamera" role="button"
              data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-webcam" aria-hidden="true"></i> Camera</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/cam"><i class="bi-aspect-ratio" aria-hidden="true"></i> Configure
                  warp</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSettings" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-gear-fill" aria-hidden="true"></i> Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/settings"><i class="bi-gear" aria-hidden="true"></i> Settings</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/wifi"><i class="bi-wifi" aria-hidden="true"></i> Wifi</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/upgrade_scrabscrap">
                  <i class="bi-arrow-up-right-circle" aria-hidden="true"></i> Upgrade ScrabScrap</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLogs" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi-file-earmark-text" aria-hidden="true"></i> Logs
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/logs"><i class="bi-search" aria-hidden="true"></i> Log output</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/loglevel"><i class="bi-gear" aria-hidden="true"></i> Log Settings</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/log_sysinfo"><i class="bi-incognito" aria-hidden="true"></i> System
                  Info</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/download_logs"><i class="bi-download" aria-hidden="true"></i> Download
                  Logs</a></li>
              <li><a class="dropdown-item" href="/download_games"><i class="bi-download" aria-hidden="true"></i>
                  Download
                  web folder file(s)</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/delete_logs"><i class="bi-trash" aria-hidden="true"></i> Delete
                  Logs</a></li>
              <li><a class="dropdown-item" href="/delete_recording"><i class="bi-trash" aria-hidden="true"></i> Delete
                  Recording(s)</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTests" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-card-checklist" aria-hidden="true"></i> Tests
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/test_led"><i class="bi-lightbulb" aria-hidden="true"></i> LED</a></li>
              <li><a class="dropdown-item" href="/test_display"><i class="bi-display" aria-hidden="true"></i>
                  Display</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/test_upload"><i class="bi-upload" aria-hidden="true"></i> Upload</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/test_analyze"><i class="bi-ui-checks-grid" aria-hidden="true"></i>
                  Analyze</a></li>
              {% if apiserver.simulator %}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/simulator" target="simulator"><i class="bi-easel"
                    aria-hidden="true"></i> Simulator</a>
              </li>
              {% endif %}
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVpn" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi-cloud" aria-hidden="true"></i> VPN
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if apiserver.tailscale %}
              <li><a class="dropdown-item" href="/vpn/status"><i class="bi-question-circle" aria-hidden="true"></i>
                  Status
                  Tailscale</a>
              </li>
              <li><a class="dropdown-item" href="/vpn/start"><i class="bi-toggle-on" aria-hidden="true"></i> Start
                  Tailscale</a></li>
              <li><a class="dropdown-item" href="/vpn/stop"><i class="bi-toggle-off" aria-hidden="true"></i> Stop
                  Tailscale</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/vpn/auth"><i class="bi-key" aria-hidden="true"></i> Reauth
                  Tailscale</a></li>
              <li><a class="dropdown-item disabled" href="/vpn/install"><i class="bi-cart-plus" aria-hidden="true"></i>
                  Install
                  Tailscale</a></li>
              <li><a class="dropdown-item" href="/vpn/uninstall"><i class="bi-cart-dash" aria-hidden="true"></i> Remove
                  Tailscale</a></li>
              {% else %}
              <li><a class="dropdown-item disabled" href="/vpn/status"><i class="bi-question-circle"
                    aria-hidden="true"></i> Status
                  Tailscale</a>
              </li>
              <li><a class="dropdown-item disabled" href="/vpn/start"><i class="bi-toggle-on" aria-hidden="true"></i>
                  Start Tailscale</a>
              </li>
              <li><a class="dropdown-item disabled" href="/vpn/stop"><i class="bi-toggle-off" aria-hidden="true"></i>
                  Stop Tailscale</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item disabled" href="/vpn/auth"><i class="bi-key" aria-hidden="true"></i> Reauth
                  Tailscale</a></li>
              <li><a class="dropdown-item" href="/vpn/install"><i class="bi-cart-plus" aria-hidden="true"></i> Install
                  Tailscale</a></li>
              <li><a class="dropdown-item disabled" href="/vpn/uninstall"><i class="bi-cart-dash"
                    aria-hidden="true"></i> Remove
                  Tailscale</a></li>
              {% endif %}
            </ul>
          </li>

          {% if apiserver.local_webapp %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/webapp/index.html" target="webapp"><i class="bi-eye"
                aria-hidden="true"></i>
              Web-App</a>
          </li>
          {% endif %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTheme" role="button"
              data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-brush" aria-hidden="true"></i> Theme</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" data-bs-theme-value="auto" href="#">
                  <i class="bi-toggles" aria-hidden="true"></i> Auto</a></li>
              <li><a class="dropdown-item" data-bs-theme-value="light" href="#">
                  <i class="bi-sun" aria-hidden="true"></i> Light</a></li>
              <li><a class="dropdown-item" data-bs-theme-value="dark" href="#">
                  <i class="bi-sun-fill" aria-hidden="true"></i> Dark</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownExit" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi-box-arrow-right" aria-hidden="true"></i> Exit
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="nav-item"><a class="nav-link" href="/restart"><i class="bi-arrow-repeat"
                    aria-hidden="true"></i> Restart
                  App</a></li>
              <li class="nav-item"><a class="nav-link" href="/end"><i class="bi-box-arrow-right" aria-hidden="true"></i>
                  End App</a></li>
              <li class="nav-item"><a class="nav-link" href="/reboot"><i class="bi-bootstrap-reboot"
                    aria-hidden="true"></i> Reboot</a>
              <li class="nav-item"><a class="nav-link" href="/shutdown"><i class="bi-toggle-off" aria-hidden="true"></i>
                  Shutdown</a>
              </li>
            </ul>
          </li>

        </ul>
        <span class="navbar-text">
          <i class="bi-info-circle" aria-hidden="true"></i> {{apiserver.scrabscrap_version}}
        </span>
      </div>
    </div>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>
  <!-- JavaScript Bundle with Popper -->
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>