<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>ScrabScrap</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap-icons-1.9.1/bootstrap-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ScrabScrap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi-grid-3x3-gap"></i> Game
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/edit_moves"><i class="bi-pencil"></i> Edit Moves</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cam"><i class="bi-webcam"></i> Camera</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings"><i class="bi-gear-fill"></i> Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wifi"><i class="bi-wifi"></i> Wifi</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi-file-earmark-text"></i> Logs
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/loglevel"><i class="bi-gear-fill"></i> Settings</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="/logs"><i class="bi-eyeglasses"></i> Show Logs</a></li>
              <li><a class="dropdown-item" href="/download_logs"><i class="bi-download"></i> Download Logs</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="/download_recording"><i class="bi-download"></i> Download
                  Recording(s)</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="/delete_logs"><i class="bi-trash"></i> Delete Logs</a></li>
              <li><a class="dropdown-item" href="/delete_recording"><i class="bi-trash"></i> Delete Recording(s)</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi-arrow-up-right-circle"></i> Update
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/upgrade_linux">
                  <i class="bi-arrow-up-right-circle"></i> Upgrade Linux</a></li>
              <li><a class="dropdown-item" href="/upgrade_pip">
                  <i class="bi-arrow-up-right-circle"></i> Upgrade Pip</a></li>
              <li><a class="dropdown-item" href="/upgrade_scrabscrap">
                  <i class="bi-arrow-up-right-circle"></i> Upgrade ScrabScrap</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi-card-checklist"></i> Tests
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/test_led"><i class="bi-lightbulb"></i> LED</a></li>
              <li><a class="dropdown-item" href="/test_display"><i class="bi-display"></i> Display</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="/test_ftp"><i class="bi-upload"></i> FTP</a></li>
              {% if apiserver.simulator %}
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="/simulator"><i class="bi-easel"></i> Simulator</a></li>
              {% endif %}
            </ul>
          </li>
          {% if apiserver.local_webapp %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/webapp/index.html"><i class="bi-eye"></i> Web-App</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi-box-arrow-right"></i> Exit
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="nav-item"><a class="nav-link" href="/end"><i class="bi-box-arrow-right"></i> Exit App</a></li>
              <li class="nav-item"><a class="nav-link" href="/reboot"><i class="bi-bootstrap-reboot"></i> Reboot</a>
              <li class="nav-item"><a class="nav-link" href="/shutdown"><i class="bi-toggle-off"></i> Shutdown</a>
              </li>
            </ul>
          </li>
        </ul>
        <span class="navbar-text">
          <i class="bi-info-circle"></i> {{apiserver.scrabscrap_version}}
        </span>
      </div>
    </div>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>
  <!-- JavaScript Bundle with Popper -->
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>