{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="py-2">
                    <div class="card">
                        <div class="card-header">
                            ScrabScrap
                        </div>
                        <div class="card-body">
                            <form action="/button" method="post">
                                <div class="row py-2">
                                    <div class="col-2 text-center">
                                        <button type="submit" class="btn btn-success mb-3 btn-circle btn-md"
                                            data-toggle="tooltip" data-placement="top" title="Move Green" name="GREEN"
                                            value="GREEN">
                                            {% if state in ('S0', 'START') %}<i class="bi-brightness-high-fill"></i>{%
                                            endif %}
                                        </button>
                                    </div>
                                    <div class="col"> </div>
                                    <div class="col-2 text-center">
                                        <button type="submit" class="btn btn-warning mb-3 btn-circle btn-md"
                                            data-toggle="tooltip" data-placement="top" title="Pause" name="YELLOW"
                                            value="YELLOW">
                                            {% if state in ('P0', 'P1', 'EOG') %}<i
                                                class="bi-brightness-high-fill"></i>{% endif
                                            %}
                                        </button>
                                    </div>
                                    <div class="col"> </div>
                                    <div class="col-2 text-center">
                                        <button type="submit" class="btn btn-danger mb-3 btn-circle btn-md"
                                            data-toggle="tooltip" data-placement="top" title="Move Red" name="RED"
                                            value="RED">
                                            {% if state in ('S1', 'START') %}<i class="bi-brightness-high-fill"></i>{%
                                            endif %}
                                        </button>
                                    </div>
                                </div>
                                <div class="row py-2 px-2">
                                    <div class="col"> </div>
                                    <div class="col-3 py-2 border border-secondary text-center"
                                        style="color: white; background-color: black;">{{ left }}</div>
                                    <div class="col-2"> </div>
                                    <div class="col-3 py-2 border border-secondary text-center"
                                        style="color: white; background-color: black;">{{ right }}</div>
                                    <div class="col"> </div>
                                </div>
                                <div class="row py-2 px-2">
                                    <div class="col"> </div>
                                    <div class="col-2 text-center">
                                        <button type="submit" class="btn btn-outline-success btn-circle btn-sm"
                                            data-toggle="tooltip" data-placement="top" title="Doubt Green" name="DOUBT0"
                                            value="DOUBT0"></button>
                                    </div>
                                    <div class="col-1 text-center">
                                        <button type="submit" class="btn btn-outline-warning btn-circle btn-sm"
                                            data-toggle="tooltip" data-placement="top" title="End of Game" name="RESET"
                                            value="RESET"></button>
                                    </div>
                                    <div class="col-2 text-center">
                                        <button type="submit" class="btn btn-outline-danger btn-circle btn-sm"
                                            data-toggle="tooltip" data-placement="top" title="Doubt Red" name="DOUBT1"
                                            value="DOUBT1"></button>
                                    </div>
                                    <div class="col"> </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}