{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="py-2">
            <div class="card">
                <div class="card-header bg-info">
                    video.warp_coordinates = {{warp_coord_cnf}} <br />
                    {% if warp_coord_cnf == 'None' %}
                    calculated {{warp_coord_raw}} (lt, rt, rb, lb)
                    {% endif %}
                </div>
                <div class="card-body">
                    <form action="/cam" method="post">
                        <div class="row">
                            <div class="col-10">
                                <img style="padding:5px; max-width: 45vw;max-height: calc(95vh - 50px);"
                                    src="data:image/jpg;base64,{{warp_data}}" />
                            </div>
                            <div class="col-2">
                                <div class="row py-2">
                                    <button type="button" class="btn btn-primary" onclick="location.href='/cam'">
                                        <i class="bi-arrow-repeat"></i> Reload</button>
                                </div>
                                <div class="row py-2">
                                    <button type="submit" class="btn btn-warning" name="btndelete" value="Delete">
                                        <i class="bi-eraser"></i> Clear Warp</button>
                                </div>
                                <div class="row py-2">
                                    <input type="text" name="warp_coordinates" value="{{warp_coord_raw}}" hidden>
                                    <button type="submit" class="btn btn-success" name="btnstore" value="Store">
                                        <i class="bi-save"></i> Store Warp</button>
                                </div>
                                <div class="row py-2">
                                    <p>
                                    </p>
                                </div>
                                <div class="row py-2">
                                    <button type="submit" class="btn btn-danger" name="btnrestart" value="Restart">
                                        <i class="bi-bootstrap-reboot"></i> Restart Cam</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="py-2">
            <div class="card">
                <div class="card-header bg-info">Original</div>
                <div class="card-body">
                    <a href="/cam"><img src="data:image/jpg;base64,{{img_data}}" ismap /></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}