{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="row py-2">

        <div class="col-6">
            <div class="card">
                <div class="card-header bg-info">Tournament</div>
                <div class="card-body">
                    <form action="/index" method="post">
                        <div class="row">
                            <div class="col-10">
                                <input type="text" class="form-control" name="tournament" placeholder="{{tournament}}"
                                    required>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="form-control btn btn-primary" name="btntournament"
                                    value="Submit"><i class="bi-save"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-header bg-info">Names</div>
                <div class="card-body">
                    <form action="/index" method="post">
                        <div class="row">
                            <div class="col-5">
                                <input type="text" class="form-control" name="player1" placeholder="{{player1}}"
                                    required>
                            </div>
                            <div class="col-5">
                                <input type="text" class="form-control" name="player2" placeholder="{{player2}}"
                                    required>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary" name="btnplayer" value="Submit">
                                    <i class="bi-save"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info">Log output</div>
                <div class="card-body">
                    <div style="font-family: monospace; display: flex; flex-direction: column-reverse; 
                            max-height: calc(96vh - 235px); overflow: auto;font-size: 50%; white-space: pre-wrap;"
                        id="logentry">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const log = (text) => {
        let contents = document.getElementById('logentry').innerHTML;
        document.getElementById('logentry').innerHTML = contents + text;
    };

    const socket = new WebSocket('ws://' + location.host + '/ws_log');
    socket.addEventListener('message', ev => { log(ev.data); });
    socket.addEventListener("close", (event) => {
        // reload on server reboot
        setTimeout(function () { location.reload(); }, 45 * 1000);
    });
    socket.addEventListener("error", (event) => {
        socket.close()
    });
</script>

{% endblock %}