{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="py-2">
                <div class="card">
                    <div class="card-header bg-info">
                        <div class="row">
                            <div class="col">
                                log
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-outline-primary btn-sm"
                                    onclick="location.href='/logs'"><i class="bi-arrow-repeat"></i> Reload</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div style="font-family: monospace; display: flex; flex-direction: column-reverse; 
                            max-height: 500px; overflow: auto;font-size: 50%; white-space: pre-wrap;" id="logentry">
                            {{log}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    const url = "/logentry"
    update = () => fetch(url)
        .then(r => r.text())
        .then(t => {
            elem = document.getElementById("logentry")
            elem.innerText = t;
            setTimeout(this.update.bind(this), 2000)
        })
    this.update()
</script>
{% endblock %}