{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/moves.css') }}">

<div class="container-fluid py-3">
    <div class="row">
        <div class="col-auto">
            <div class="row">
                <div class="col-12">
                    <div class="rounded border p-2">
                        <!-- Wrapper for Picture + Canvas -->
                        <div class="board-wrapper" style="margin-left: 10px;">
                            <!-- Background Image -->
                            <img id="boardImage" src="{{ url_for('static', filename='assets/board.jpg') }}" width="400"
                                height="400" alt="Spielfeld">
                            <!-- Canvas -->
                            <canvas id="board" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-12">
                    <div class="rounded border p-2">
                        <table id="letterGrid" class="letter-grid"></table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="rounded border p-2 move-panel">
                <div class='d-flex flex-column-reverse overflow-auto'>
                    <table class="table table-striped table-sm" id="movesTable">
                        <tbody>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>&nbsp;</th>
                                    <th>Pos</th>
                                    <th>Word</th>
                                    <th>Points</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                        </tbody>
                    </table>
                </div>

                <div class="mt-2 justify-content-center">
                    <span id="status" class="float-start mx-2"></span>
                    <button type="submit" id="btnInsert" class="btn btn-outline-primary"
                        title="Insert two exchange move before selected move" disabled>
                        <i class="bi-box-arrow-up-left"></i></button>
                    <button type="submit" id="btnExchange" class="btn btn-outline-primary mx-4"
                        title="Regular to exchange move" disabled>
                        <i class="bi-stack-overflow"></i></button>
                    <button type="submit" id="btnDelete" class="btn btn-outline-danger" title="Delete selected move"
                        disabled>
                        <i class="bi-trash"></i></button>
                    <button type="submit" id="btnToggle" class="btn btn-outline-info"
                        title="Toggle between withdraw and challenge" disabled>
                        <i class="bi-arrow-left-right"></i></button>
                    <button type="submit" id="btnChallenge" class="btn btn-outline-info"
                        title="Insert invalid challenge" disabled>
                        <i class="bi-clipboard-check"></i> Challenge</button>
                    <button type="submit" id="btnWithdraw" class="btn btn-outline-info" title="Insert withdraw"
                        disabled>
                        <i class="bi-clipboard-x"></i> Withdraw</button>
                    <button type="submit" id="btnSave" class="btn btn-success mx-2 float-end" title="Save changes"
                        disabled>
                        <i class="bi-save"></i></button>
                </div>

                <div id="flash_messages">
                    {% with messages = get_flashed_messages(with_categories=False) %}
                    {% if messages %}
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>

        <div class="col-auto">
            <div class="card">
                <div class="card-header">
                    Edit Blanko
                </div>
                <div class="card-body">
                    <table class="table table-striped align-middle table-sm" id="blankoTable">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <script>
        // init vars to use in moves.js (jinja expansion)
        const json_msg = `{{ json_msg }}`;
        const default_board_image = `{{ url_for('static', filename = 'assets/board.jpg') }}`;
    </script>
    <script src="{{ url_for('static', filename='assets/js/moves.js') }}"></script>
</div>
{% endblock %}