{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="py-2">
                <div class="card">
                    <div class="card-header bg-info">Names</div>
                    <div class="card-body">
                        <form action="/moves" method="post">
                            <div class="row">
                                <div class="col-4">
                                    <input type="text" class="form-control" name="player1" placeholder="{{player1}}"
                                        required>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="player2" placeholder="{{player2}}"
                                        required>
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="form-control btn btn-primary" name="btnplayer"
                                        value="Update" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Update">
                                        <i class="bi-save"></i>&nbsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="py-2">
                <div class="card">
                    <div class="card-header bg-info">
                        Edit Blanko
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                {% for val in blanko_list %}
                                <tr>
                                    <form action="/moves" method="post">
                                        <td> <input type="text" class="form-control" name="coord" readonly size="3"
                                                value={{ val[0] }}>
                                        </td>
                                        <td> <input type="text" class="form-control" name="char" size="1"
                                                value="{{ val[1] }}">
                                        </td>
                                        <td><button type="submit" class="form-control btn btn-outline-primary"
                                                name="btnblanko" value="Update" data-bs-toggle="tooltip"
                                                data-bs-placement="bottom" title="Update">
                                                <i class="bi-save"></i>&nbsp;
                                            </button>
                                        </td>
                                    </form>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="py-2">
            <div class="card">
                <div class="card-header bg-info">
                    Edit Move (Beta)
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#&nbsp;</th>
                                <th scope="col">P&nbsp;</th>
                                <th scope="col">Pts</th>
                                <th scope="col">Sc Green</th>
                                <th scope="col">Sc Red</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">Type</th>
                                <th scope="col">Coord</th>
                                <th scope="col">Word</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for move in move_list %}
                            <tr>
                                <form action="/moves" method="post">
                                    <th scope="row"> {{ move.move }} <input hidden name="move.move" value={{ move.move
                                            }}>
                                    </th>
                                    <td> {{ move.player }} <input hidden name="move.player" value={{ move.player }}>
                                    </td>
                                    <td style="text-align: right;"> {{ move.points }}
                                    </td>
                                    <td><input type="text" class="form-control" name="move.score0" size="3"
                                            value="{{ move.score[0] }}">
                                    </td>
                                    <td><input type="text" class="form-control" name="move.score1" size="3"
                                            value="{{ move.score[1] }}">
                                    </td>
                                    <td><button type="submit" class="form-control btn btn-outline-primary"
                                            name="btnscore" value="Update-Score" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom" title="Update score" formaction="/moves">
                                            <i class="bi-save"></i>&nbsp;</button>
                                    </td>
                                    <td>
                                        <select class="form-select" aria-label="Type of move" name="move.type">
                                            <option {% if move.type.name=="REGULAR" %}selected{% endif %}
                                                value="REGULAR">Normal</option>
                                            <option {% if move.type.name=="EXCHANGE" %}selected{% endif %}
                                                value="EXCHANGE">Exchange</option>
                                            <option {% if move.type.name=="PASS_TURN" %}selected{% endif %} disabled
                                                value="PASS_TURN">Pass turn</option>
                                            <option {% if move.type.name=="WITHDRAW" %}selected{% endif %} disabled
                                                value="WITHDRAW">Remove Tiles</option>
                                            <option {% if move.type.name=="CHALLENGE_BONUS" %}selected{% endif %}
                                                disabled value="CHALLENGE_BONUS">Doubt Malus</option>
                                            <option {% if move.type.name=="LAST_RACK_BONUS" %}selected{% endif %}
                                                disabled value="LAST_RACK_BONUS">Last Rack Bonus</option>
                                            <option {% if move.type.name=="LAST_RACK_MALUS" %}selected{% endif %}
                                                disabled value="LAST_RACK_MALUS">Last Rack Malus</option>
                                            <option {% if move.type.name=="UNKNOWN" %}selected{% endif %} disabled
                                                value="UNKNOWN">Unknown</option>
                                        </select>
                                    </td>
                                    <td> {% if move.type.name=="EXCHANGE" %}
                                        <input type="text" class="form-control" name="move.coord" size="3" value="-">
                                        {% elif move.type.name=="CHALLENGE_BONUS" %}
                                        <input type="text" class="form-control" name="move.coord" size="3" value="(c)">
                                        {% elif move.type.name=="WITHDRAW" %}
                                        <input type="text" class="form-control" name="move.coord" size="3" value="--">
                                        {% else %}
                                        <input type="text" class="form-control" name="move.coord" size="3" value={{
                                            move.get_coord() }}>
                                        {% endif %}
                                    </td>
                                    <td> <input type="text" class="form-control" name="move.word" value={{ move.word }}>
                                    </td>
                                    <td><button type="submit" class="form-control btn btn-outline-primary"
                                            name="btnmove" value="Update" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom" title="Update move" {% if
                                            move.type.name=='WITHDRAW' or move.type.name=='CHALLENGE_BONUS' %}disabled{%
                                            endif %}><i class="bi-save"></i>&nbsp;</button>
                                    </td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="py-2">
                        <i>Hint: only a change of one move at a time is accepted</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="py-2">
            <div class="card">
                <div class="card-header bg-info">Messages</div>
                <div class="card-body">
                    <div style="font-family: monospace; white-space: pre-wrap;">{{apiserver.last_msg}}</div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}