{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="/settings" method="post">
        <div class="row">
            <div class="col-4">

                <div class="row">
                    <div class="py-2"><!-- start scrabble -->
                        <div class="card">
                            <div class="card-header">
                                <i class="bi-grid-3x3-gap"></i> Scrabble
                            </div>
                            <div class="card-body">
                                <div class="input-group">
                                    <label class="col-sm-4 col-form-label" for="scrabble.show_score">
                                        Show Score
                                    </label>
                                    <div class="form-check form-switch py-2">
                                        <input class="form-check-input" value="True" type="checkbox"
                                            name="scrabble.show_score" id="scrabble.show_score"
                                            {%if 'True'==cfg['scrabble.show_score'] %}checked {%endif %}>
                                    </div>
                                </div>
                                <div class="py-1 input-group">
                                    <label class="col-sm-4 col-form-label" for="scrabble.max_time">
                                        Playtime
                                    </label>
                                    <input type="text" class="form-control" name="scrabble.max_time" placeholder={{
                                        cfg['scrabble.max_time'] }} value="{{ cfg['scrabble.max_time'] }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">sec</span>
                                    </div>
                                </div>
                                <div class="py-1 input-group">
                                    <label class="col-sm-4 col-form-label" for="scrabble.min_time">
                                        Overtime
                                    </label>
                                    <input type="text" class="form-control" name="scrabble.min_time" placeholder={{
                                        cfg['scrabble.min_time'] }} value="{{ cfg['scrabble.min_time'] }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">sec</span>
                                    </div>
                                </div>
                                <div class="py-1 input-group">
                                    <label class="col-sm-4 col-form-label" for="scrabble.doubt_timeout">
                                        Timeout doubt
                                    </label>
                                    <input type="text" class="form-control" name="scrabble.doubt_timeout" placeholder={{
                                        cfg['scrabble.doubt_timeout'] }} value="{{ cfg['scrabble.doubt_timeout'] }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">sec</span>
                                    </div>
                                </div>
                                <div class="py-1 input-group">
                                    <label class="col-sm-4 col-form-label" for="scrabble.malus_doubt">
                                        Malus doubt
                                    </label>
                                    <input type="text" class="form-control" name="scrabble.malus_doubt" placeholder={{
                                        cfg['scrabble.malus_doubt'] }} value="{{ cfg['scrabble.malus_doubt'] }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">sec</span>
                                    </div>
                                </div>
                                <div class="py-1 input-group">
                                    <label class="col-sm-4 col-form-label" for="scrabble.verify_moves">
                                        Verify moves
                                    </label>
                                    <input type="text" class="form-control" name="scrabble.verify_moves" placeholder={{
                                        cfg['scrabble.verify_moves'] }} value="{{ cfg['scrabble.verify_moves'] }}">
                                </div>
                            </div>
                        </div>
                    </div> <!-- end scrabble -->
                </div>

                <div class="row">
                    <div class="py-2"> <!-- start system -->
                        <div class="card">
                            <div class="card-header">
                                <i class="bi-motherboard"></i> System
                            </div>
                            <div class="card-body">
                                <div class="form-group row py-1">
                                    <label class="col-sm-4 col-form-label" for="system.gitbranch">
                                        Git branch
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="system.gitbranch" placeholder={{
                                            cfg['system.gitbranch'] }} value="{{ cfg['system.gitbranch'] }}">
                                    </div>
                                </div>
                                <div class="form-group row py-1">
                                    <label class="col-sm-4 col-form-label" for="system.quit">
                                        End Button
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="system.quit" id="exit"
                                                value="exit" {%if cfg['system.quit']=='exit' %}checked {%endif %}>
                                            <label class="form-check-label" for="exit">exit</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="system.quit" id="reboot"
                                                value="reboot" {%if cfg['system.quit']=='reboot' %}checked {%endif %}>
                                            <label class="form-check-label" for="reboot">reboot</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="system.quit"
                                                id="shutdown" value="shutdown" {%if cfg['system.quit']=='shutdown'
                                                %}checked {%endif %}>
                                            <label class="form-check-label" for="shutdown">shutdown</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end system -->
                </div>

            </div>

            <div class="col-4">

                <div class="row">
                    <div class="py-2"> <!-- start video -->
                        <div class="card">
                            <div class="card-header">
                                <i class="bi-webcam"></i> Video
                            </div>
                            <div class="card-body">
                                <div class="input-group">
                                    <label class="col-sm-4 col-form-label" for="video.rotate">
                                        Rotate
                                    </label>
                                    <div class="form-check form-switch py-2">
                                        <input class="form-check-input" type="checkbox" value="True" name="video.rotate"
                                            id="video.rotate" {%if 'True'==cfg['video.rotate'] %}checked {%endif %}>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label class="col-sm-4 col-form-label" for="video.warp">
                                        Warp
                                    </label>
                                    <div class="form-check form-switch py-2">
                                        <input class="form-check-input" type="checkbox" value="True" name="video.warp"
                                            id="video.warp" {%if 'True'==cfg['video.warp'] %}checked {%endif %}>
                                    </div>
                                </div>
                                <div class="py-1 input-group">
                                    <label class="col-sm-4 col-form-label" for="video.width">
                                        Width
                                    </label>
                                    <input type="text" class="form-control" name="video.width" placeholder={{
                                        cfg['video.width'] }} value="{{ cfg['video.width'] }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">px</span>
                                    </div>

                                </div>
                                <div class="py-1 input-group">
                                    <label class="col-sm-4 col-form-label" for="video.height">
                                        Height
                                    </label>
                                    <input type="text" class="form-control" name="video.height" placeholder={{
                                        cfg['video.height'] }} value="{{ cfg['video.height'] }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">px</span>
                                    </div>

                                </div>
                                <div class="py-1 input-group">
                                    <label class="col-sm-4 col-form-label" for="video.fps">
                                        FPS
                                    </label>
                                    <input type="text" class="form-control" name="video.fps" placeholder={{
                                        cfg['video.fps'] }} value="{{ cfg['video.fps'] }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">1/s</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> <!-- end video -->
                </div>

                <div class="row">
                    <div class="py-2"> <!-- start board -->
                        <div class="card">
                            <div class="card-header">
                                <i class="bi-border-all"></i> Board
                            </div>
                            <div class="card-body">
                                <div class="py-1 input-group">
                                    <label class="col-sm-4 col-form-label" for="board.layout">
                                        Analyzer
                                    </label>
                                    <div class="col-sm-8">

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="board.layout"
                                                id="custom2012" value="custom2012" {%if
                                                cfg['board.layout']=='custom2012' %}checked {%endif %}>
                                            <label class="form-check-label" for="custom2012">custom2012</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="board.layout"
                                                id="custom2012pil" value="custom2012pil" {%if
                                                cfg['board.layout']=='custom2012pil' %}checked {%endif %}>
                                            <label class="form-check-label" for="custom2012pil">custom2012pil</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="board.layout"
                                                id="custom2012kmeans" value="custom2012kmeans" {%if
                                                cfg['board.layout']=='custom2012kmeans' %}checked {%endif %}>
                                            <label class="form-check-label"
                                                for="custom2012kmeans">custom2012kmeans</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="board.layout"
                                                id="custom2020" value="custom2020" {%if
                                                cfg['board.layout']=='custom2020' %}checked {%endif %}>
                                            <label class="form-check-label" for="custom2020">custom2020</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="board.layout"
                                                id="custom2020" value="custom2020pil" {%if
                                                cfg['board.layout']=='custom2020pil' %}checked {%endif %}>
                                            <label class="form-check-label" for="custom2020pil">custom2020pil</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="board.layout" id="custom"
                                                value="custom" {%if cfg['board.layout']=='custom' %}checked {%endif %}>
                                            <label class="form-check-label" for="custom">custom</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="board.layout"
                                                id="classic" value="classic" {%if cfg['board.layout']=='classic'
                                                %}checked {%endif %}>
                                            <label class="form-check-label" for="classic">classic</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-1 input-group">
                                    <label class="col-sm-4 col-form-label" for="board.tiles_threshold">
                                        Threshold
                                    </label>
                                    <input type="text" class="form-control" name="board.tiles_threshold" placeholder={{
                                        cfg['board.tiles_threshold'] }} value="{{ cfg['board.tiles_threshold'] }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end board -->
                </div>
            </div>

            <div class="col-4">

                <div class="row">
                    <div class="py-2"> <!-- start output -->
                        <div class="card">
                            <div class="card-header">
                                <i class="bi-upload"></i> Output
                            </div>
                            <div class="card-body">
                                <div class="input-group">
                                    <label class="col-sm-4 col-form-label" for="output.upload_server">
                                        Upload server
                                    </label>
                                    <div class="form-check form-switch py-2">
                                        <input class="form-check-input" type="checkbox" value="True"
                                            name="output.upload_server" id="output.upload_server"
                                            {%if 'True'==cfg['output.upload_server'] %}checked {%endif %}>
                                    </div>
                                </div>
                                <div class="form-group row py-1">
                                    <label class="col-sm-4 col-form-label" for="output.upload_modus">
                                        Upload modus
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="output.upload_modus"
                                                id="http" value="http" {%if cfg['output.upload_modus']=='http' %}checked
                                                {%endif %}>
                                            <label class="form-check-label" for="http">http</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="output.upload_modus"
                                                id="ftp" value="ftp" {%if cfg['output.upload_modus']=='ftp' %}checked
                                                {%endif %}>
                                            <label class="form-check-label" for="ftp">ftp</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end output -->
                </div>

                <div class="row">
                    <div class="py-2"> <!-- start ftp -->
                        <div class="card">
                            <div class="card-header">
                                <i class="bi-cloud"></i> FTP/HTTP Upload
                            </div>
                            <div class="card-body">
                                <div class="form-group row py-1">
                                    <label class="col-sm-4 col-form-label" for="idServer">Server URL</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="idServer" name="server"
                                            placeholder="Server Name/URL" value="{{ server }}">
                                    </div>
                                </div>
                                <div class="form-group row py-1">
                                    <label class="col-sm-4 col-form-label" for="idUser">Username</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="idUser" name="user"
                                            placeholder="Username" value="{{ user }}">
                                    </div>
                                </div>
                                <div class="form-group row py-1">
                                    <label class="col-sm-4 col-form-label" for="idPassword">Password</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="idPassword" name="password"
                                            placeholder="Password">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end ftp -->
                </div>

                <div class="row">
                    <div class="py-2"> <!-- start development -->
                        <div class="card">
                            <div class="card-header">
                                <i class="bi-bug"></i> Development
                            </div>
                            <div class="card-body">
                                <div class="input-group">
                                    <label class="col-sm-4 col-form-label" for="development.recording">
                                        Save images
                                    </label>
                                    <div class="form-check form-switch py-2">
                                        <input class="form-check-input" type="checkbox" value="True"
                                            name="development.recording" id="development.recording"
                                            {%if 'True'==cfg['development.recording'] %}checked {%endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end development -->
                </div>

            </div>
        </div> <!-- row -->

        <!-- Buttons-->
        <div class="row float-end">
            <div>
                {{ save_message }}
                <button type="button" class="btn btn-secondary" onclick="location.href='/'"><i class="bi-x-square"></i>
                    Cancel</button>
                <button type="submit" class="btn btn-primary" name="btnsave" value="Submit"><i class="bi-save"></i>
                    Save</button>
            </div>
        </div> <!-- row -->
    </form>

</div>
{% endblock %}