body {
  background-color: #00607d;
}

.theme2020 {
  background: #00607d;
}

.theme2012 {
  background: #00607d;
}

.obs-main-camera {
  /* width: 100%; */
  height: 100%;
  background: rgba(128, 128, 128, .1);
}

.obs-bank-camera {
  height: 120px;
  width: 450px;
  background: rgba(128, 128, 128, .1);
}

.obs-move-panel {
  max-height: 850px;
}

.hidden {
  display: none;
}

.monospace {
  font-family: monospace;
}

/* picture */
.picture {
  width: 100%;
  aspect-ratio : 1 / 1;
  /* height: auto; */
  display: block;
  background-color: white;
  border: 1px solid #888;
  box-shadow: 0 8px 6px -6px #888;
}

/* bag */
.bag-body {
  padding: .5rem !important;
  background-color: #207F8E;
  max-width: 100%;
}

.tile {
  background-color: #F5F5F5;
  width: 25px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid #F5F5F5;
  box-shadow: 0px 0px 3px #888;
}

span.tile {
  display: inline-block;
    margin: 2px 1px 1px;
}

/* moves */
.move-panel {
  max-height: -moz-calc(96vh - 100px);
  max-height: -webkit-calc(96vh - 100px);
  max-height: calc(96vh - 100px);
  display: flex;
  flex-direction: column;
}

.moves {
  font-family: "Lucida Console", Monaco, monospace;
}

.table-move {
  scrollbar-gutter: stable;
  border: 1px solid transparent;
}

.td-truncate {
  text-overflow: ellipsis;
  max-width: 15em;
  width: 1em;
}

.td-fill {
  overflow: hidden;
  width: 100%;
}

/* board */
.board {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* layout 2012 */
.theme2012 .tableboard {
  width: 496px;
  height: 502px;
  display: inline-block;
  padding: 2px;
  background-color: #239b56;
  box-shadow: 0 8px 6px -6px #888;
}

/* layout 2012 */
.theme2012 .tableboard td {
  border: thin solid white;
  text-align: center;
  padding: 2px;
  width: 31px;
  height: 31px;
}

/* layout 2012 */
.theme2012 .tableborder {
  background-color: green;
  color: white;
  font-size: 70%;
}

/* tripple word (layout 2012) */
.theme2012 .tabletw {
  background-color: #FE4444;
}

/* double word (layout 2012) */
.theme2012 .tabledw {
  background-color: #f5b041;
}

/* triple letter (layout 2012) */
.theme2012 .tabletl {
  background-color: #2471a3;
}

/* double letter (layout 2012 */
.theme2012 .tabledl {
  background-color: #0099cc;
}

/* layout 2020 */
.theme2020 .tableboard {
  width: 496px;
  height: 502px;
  display: inline-block;
  padding: 2px;
  background-color: #43869B;
  box-shadow: 0 8px 6px -6px #888;
}

.theme2020 .tableboard td {
  border: thin solid white;
  text-align: center;
  padding: 2px;
  width: 31px;
  height: 31px;
}

.theme2020 .tableborder {
  background-color: #2A6573;
  color: white;
  font-size: 70%;
}

/* tripple word (layout 2020) */
.theme2020 .tabletw {
  background-color: #CDC948;
}

/* double word (layout 2020)*/
.theme2020 .tabledw {
  background-color: #ffd47a;
}

/* triple letter (layput 2020) */
.theme2020 .tabletl {
  background-color: #d79eb5;
}

/* double letter (layout 2020) */
.theme2020 .tabledl {
  background-color: #616685;
}