@media (prefers-color-scheme: dark) {

  /* Overrides for Dark Mode. */
  body {
    /* old: background: #28a745; */
    background: #2A6573;
  }
}

.bg-body {
  /* old: background: #28a745; */
  background: #2A6573;
}

.obs-main-camera {
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, .1);
}

.obs-bank-camera {
  height: 120px;
  width: 450px;
  background: rgba(128, 128, 128, .1);
}

.obs-move-panel {
  max-height: 850px;
}

.hidden {
  display: none;
}

.monospace {
  font-family: monospace;
}

/* picture */
.picture {
  width: 100%;
  height: auto;
  display: block;
  background-color: white;
  box-shadow: 0px 8px 6px -6px #888;
}

/* bag */
.bag-body {
  padding: .5rem !important;
  background-color: #207F8E;
  max-width: 100%;
}

.tile {
  /* old: background-color: #F5F5F5; */
  background-color: #F5F5F5;
  width: 25px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  /* old: border: 1px solid gray; */
  border: 1px solid #F5F5F5;
  box-shadow: 0px 0px 3px #888;
}

span.tile {
  display: inline-block;
  margin: 1px;
  margin-top: 3px;
}

/* bank */
.bank {
  height: 150px;
  width: 400px;
  border: thin solid black;
}

.bank-body {
  display: block;
  width: 217px;
  height: 31px;
  /* old: background-color: #00e673; */
  background-color: #43869B;
  box-shadow: 0px 8px 6px -6px #888
}

/* moves */
.move-panel {
  max-height: -moz-calc(100vh - 100px);
  max-height: -webkit-calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

.moves {
  font: "Lucida Console", Monaco, monospace;
}

.table-move {
  scrollbar-gutter: stable;
  border: 1px solid transparent;
}

.td-truncate {
  text-overflow: ellipsis;
  max-width: 15em;
  width: 1em;
}

.td-fill {
  overflow: hidden;
  width: 100%;
}

/* board */
.board {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.tableboard {
  width: 496px;
  height: 496px;
  display: inline-block;
  padding: 2;
  /* old: background-color: #239b56; */
  background-color: #43869B;
  box-shadow: 0px 8px 6px -6px #888;
}

.tableboard td {
  border: thin solid white;
  text-align: center;
  padding: 2px;
  width: 31px;
  height: 31px;
}

.tableborder {
  /* old: border: thin transparent green; */
  /* old: background-color: green; */
  border: thin transparent #43869B;
  background-color: #2A6573;
  color: white;
  font-size: 70%;
}

/* tripple word */
.tabletw {
  /* old: background-color: #d98880; */
  background-color: #CDC948;
}

/* double word */
.tabledw {
  /* old: background-color: #f5b041; */
  /* new original: background-color: #FFBD29; */
  /* HSB => H S-- B++ */
  background-color: #ffd47a;
}

/* triple letter */
.tabletl {
  /* old: background-color: #2471a3; /*
  /* new original: background-color: #E3236FC8; */
  /* HSB => H S-- B++ */
  background-color: #d79eb5;
}

/* double letter */
.tabledl {
  /* old: background-color: #0099cc; */
  /* new original: background-color: #232753C8; */
  /* HSB => H S-- B++ */
  background-color: #616685;
}