    .move-panel {
        max-height: -moz-calc(100vh - 85px);
        max-height: -webkit-calc(100vh - 85px);
        max-height: calc(100vh - 85px);
        height: -moz-calc(100vh - 85px);
        height: -webkit-calc(100vh - 85px);
        height: calc(100vh - 85px);
        display: flex;
        flex-direction: column;
    }

    .edit-text {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
            monospace;
    }

    tr.selected td {
        background-color: rgba(255, 255, 0, 0.5) !important;
        color: #000;
    }

    .board-wrapper {
        position: relative;
        width: 400px;
        height: 400px;
    }

    .board-wrapper img,
    .board-wrapper canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    #board {
        z-index: 2;
    }

    #boardImage {
        z-index: 1;
    }

    .letter-grid th,
    .letter-grid td {
        width: 25px;
        height: 25px;
        border: 1px solid #ccc;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        font-size: 12px;
    }

    .letter-grid th {
        background-color: var(--bs-tertiary-bg);
        font-size: 10px;
        font-weight: normal;
        color: var(--bs-tertiary-color);
        padding: 0;
    }

    .letter-grid {
        border-collapse: collapse;
        margin-top: 0px;
    }

    .letter-grid td.highlight {
        background-color: rgba(255, 255, 0, 0.5);
    }
