[run]

source =
	src

omit =
	# requiresm special hardware
	*/hardware/oled.py
	*/hardware/fake_picamera.py
	*/hardware/camera.py
	# dispatcher for flask web app
	*/api_server_thread.py
	# starter of main application
	*/scrabscrap.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @(abc\.)?abstractmethod
    @(abc\.)?main
    logging.debug
    logging.info
    logging.warning
    logging.error
    assert
    pass
