[run]

source =
	src

omit =
	# display info at app loading
	*/boot.py
	# requiresm special hardware
	*/hardware/oled.py
	# requires special hardware
	*/hardware/camera_rpi.py
	# dispatcher for flask web app
	*/api_server_thread.py
	# starter of main application
	*/scrabscrap.py
	# currently not used
	*/hardware/camera_opencv.py
	# only online
	*/ftp.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @(abc\.)?abstractmethod
    # logging.debug
    assert
    pass
