## dev tools (install latest version)
# pip install -U -r requirements-devel.txt

--prefer-binary
coverage
pipdeptree
# ├── packaging [required: >=25, installed: 25.0]
# └── pip [required: >=25.2, installed: 25.2]
snakeviz
# └── tornado [required: >=2.0, installed: 6.5.2]
pyright
# ├── nodeenv [required: >=1.6.0, installed: 1.9.1]
# └── typing_extensions [required: >=4.1, installed: 4.15.0]

ruff
yappi
