# project requirements
# rpi: adafruit-circuitpython-ssd1306, picamera, smbus
Flask >=2.1.2
gpiozero >=1.6.2
imutils >=0.5.4
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.62
Pillow >=9.2.0
visual-logging

# python toolstack (lint etc.)
pipdeptree >=2.2.1

autopep8 >=1.6.0
toml
pycodestyle >=2.8.0,<2.9.0

flake8==4.0.1
mccabe >=0.6.0,<0.7.0
pyflakes >=2.4.0,<2.5.0

cPython==0.0.6
pymongo
requests
certifi >=2017.4.17
charset-normalizer >=2,<3
idna >=2.5,<4
urllib3 >=1.21.1,<1.27

snakeviz >=2.1.1
tornado >=2.0

# transitive requirements

# by Flask
click >=8.0
importlib-metadata >=3.6.0
itsdangerous >=2.0
Jinja2 >=3.0
MarkupSafe >=2.0
Werkzeug >=2.0
zipp >=0.5

# by gpiozero
colorzero

# by open-cv
numpy >=1.19.3

# pkg_resources==0.0.0
setuptools
