# install: pip install -r requirements.txt
# libs #
Flask>=2.2.2
gpiozero>=1.6.2
imutils>=0.5.4
opencv-python==4.5.5.62
opencv-contrib-python==4.7.0.68
picamera>=1.13; sys_platform != "darwin" and platform_machine != "x86_64"
Pillow>=9.3.0
visual-logging>=1.0
netifaces>=0.11
luma.oled>=3.9
# tools #
numpy>=1.23.4
# qs tools
autopep8>=2.0.0
flake8>=5.0.4
mypy>=0.982
pylint>=2.15.5
# debug, misc
cPython>=0.0.6
pipdeptree>=2.3.3
snakeviz>=2.1.1

# libs #
# Flask==2.2.2
#     click >=8.0
#     importlib-metadata >=3.6.0
#         zipp >=0.5
#     itsdangerous >=2.0
#     Jinja2 >=3.0
#         MarkupSafe >=2.1.1
#     Werkzeug >=2.2.2
# gpiozero==1.6.2
#     colorzero
#     setuptools
# imutils==0.5.4
# opencv-python==4.6.0.66
#     numpy >=1.19.3
# picamera==1.13
# Pillow==9.3.0
# visual-logging==1.0
# tools #
# autopep8==2.0.0
#     pycodestyle>=2.9.1
#     toml
# cPython==0.0.6
#     pymongo
#         dnspython >=1.16.0,<3.0.0
#     requests
#         certifi>=2017.4.17
#         charset-normalizerrequired: >=2,<3
#         idna >=2.5,<4
#         urllib3 >=1.21.1,<1.27
# flake8==5.0.4
#     mccabe >=0.7.0,<0.8.0
#     pycodestyle >=2.9.0,<2.10.0
#     pyflakes >=2.5.0,<2.6.0
# pipdeptree==2.3.3
# snakeviz==2.1.1
#     tornado >=2.0
# wheel==0.37.1
