name: Python package

on: [push]

jobs:
  flake8:
    runs-on: ubuntu-latest
    env:
      PYTHONPATH: 'src:'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      # - name: Install OpenCV
      #   run : |
      #     sudo apt-get install -y libgsm1 libatk1.0-0 libavcodec58 libcairo2 libvpx6 libvorbisenc2 \
      #       libwayland-egl1 libva-drm2 libwavpack1 libshine3 libdav1d4 libwayland-client0 libxcursor1 \
      #       libopus0 libchromaprint1 libxinerama1 libpixman-1-0 libzmq5 libmp3lame0 libxcb-shm0 libsz2 \
      #       libgtk-3-0 libharfbuzz0b libilmbase25 libvdpau1 libssh-gcrypt-4 libpangocairo-1.0-0 \
      #       libtwolame0 libnorm1 libxi6 libxfixes3 libxcomposite1 libxcb-render0 libwayland-cursor0 \
      #       libvorbisfile3 libspeex1 libxrandr2 libxkbcommon0 libtheora0 libaec0 libx264-160 libaom0 \
      #       libzvbi0 libopenexr25 libogg0 libpangoft2-1.0-0 librsvg2-2 libxvidcore4 libsrt1.4-gnutls \
      #       libbluray2 libvorbis0a libdrm2 libmpg123-0 libatlas3-base libxdamage1 libavformat58 \
      #       libatk-bridge2.0-0 libswscale5 libsnappy1v5 libcodec2-0.9 libsodium23 libudfread0 \
      #       libswresample3 libcairo-gobject2 libx265-192 libthai0 libva-x11-2 ocl-icd-libopencl1 \
      #       libepoxy0 libpango-1.0-0 libavutil56 libva2 librabbitmq4 libgme0 libatspi2.0-0 \
      #       libgraphite2-3 libhdf5-103-1 libgfortran5 libsoxr0 libpgm-5.3-0 libopenmpt0 libxrender1 \
      #       libdatrie1 libgdk-pixbuf-2.0-0 libopenjp2-7 libwebpmux3 --fix-missing
      - name: Install pip dependencies
        run: |
          cd python
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with flake8
        id: flake8
        run: |
          cd python
          flake8 . --max-line-length=128 --ignore=E402 --exclude="ignore/*" --count --show-source --statistics

  mypy:
    runs-on: ubuntu-latest
    env:
      PYTHONPATH: 'src:'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install pip dependencies
        run: |
          cd python
          python -m pip install --upgrade pip
          pip install mypy pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Check with mypy
        id: mypy
        run: |
          cd python
          mypy src/*.py src/hardware/*.py src/simulate/*.py simulator/*.py --config-file mypy.ini

  test:
    runs-on: ubuntu-latest
    env:
      PYTHONPATH: 'src:'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install pip dependencies
        run: |
          cd python
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Test with unittest
        id: unittest
        run: |
          cd python
          cp defaults/* work/
          python -m unittest discover -s test -p "test_*.py" -v
